apiVersion: v1
kind: Service
metadata:
  name: backend
  labels:
    app: backend
spec:
  type: ClusterIP
  ports:
  - port: 4008
    targetPort: 4008
    protocol: TCP
    name: http
  selector:
    app: backend
